<h1>{{graffiti.title}}</h1>
<img src="{{graffiti.imageUrl}}" alt="Graffiti for {{graffiti.title}}"height="200px">
<hr>
<p>Photo uploaded by: {{graffiti.owner.username}}</p>
<p>Description: {{graffiti.description}}</p>
<hr>
<a href="/">gallery</a>
<br>
<a href="/auth/login">login</a>
<br>
<a href="/auth/users/profile">profile</a>
