<h1>{{appTitle}}🚀</h1>
<p>Welcome to Nomad Graffiti!</p><br>

<div id="nav">
<ul class="nav-header">
    <li class="nav-header">
        <a href="/" title="gallery" class="nav-header">gallery</a>
    </li>
    <li class="nav-header">
        <a href="/graffiti/map" title="map" class="nav-header">map</a>
    </li>
    <li class="nav-header">
        <a href="/auth/login" title="login" class="nav-header">login</a>
    </li>
    <li class="nav-header">
        <a href="/auth/users/profile" title="profile" class="nav-header">profile</a>
    </li>
</ul>
</div>

<h1>All the Graffitis</h1>
{{#each graffitis}}
	<div>
		<h2>Name: {{title}}</h2>
        <img src="{{imageUrl}}" alt="Graffiti for {{title}}"height="200px">
        <a href="/graffiti/{{_id}}">See details</a>
	</div>
{{/each}}